<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>476920454814-ok8d19hcejrjacfp3md9mm2m6lml48ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.476920454814-ok8d19hcejrjacfp3md9mm2m6lml48ie</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>476920454814-3ld7nbt03r554sdk6bcqhe4485dca66o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyABwxP3HSDrzYxiXqgxZ5jOCz5OaKAiixg</string>
	<key>GCM_SENDER_ID</key>
	<string>476920454814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.sleepcircle.application</string>
	<key>PROJECT_ID</key>
	<string>nyxo-android</string>
	<key>STORAGE_BUCKET</key>
	<string>nyxo-android.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:476920454814:ios:b7ace1023a27fc9e99258f</string>
	<key>DATABASE_URL</key>
	<string>https://nyxo-android.firebaseio.com</string>
</dict>
</plist>