## resolvers/Mutation.createCoachingRequest.req.vtl

## [Start] Stash resolver specific context.. **
$util.qr($ctx.stash.put("typeName", "Mutation"))
$util.qr($ctx.stash.put("fieldName", "createCoachingRequest"))
{}
## [End] Stash resolver specific context.. **